
html, body {
    margin: 0;
    padding: 0;
    
/*    margin-top: 0px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px;*/
    
    background-color: #00b080;
    font-family: 'Open Sans';
    height: 100%;
    width: 100%;

    text-align: center;

}

.container {
    
    height: 100%;
    width: 100%;
    
    overflow:scroll;
}
 .heading {
     width: 100%;
     text-align:center;
}

.title {
/*    font-style:bold;*/
    text-align: center;
    color: #dddddd;
/*    opacity: 0;*/
}

.logo {
    font-style:bold;
    text-align: center;
    color: #dddddd;
    font-size: 48;
}

.beta {
    text-align: center;
    color: #dddddd;
    font-size: 48;
}
            
.scores-container {
    width: 100%;
    float: left;
    text-align: center;
}

.player-score {
    float: left; 
    text-align: center;
}

.player-score p {
    border:1px solid #a1a1a1;
    padding:5px 5px; 
    background:#dddddd;
    width: 40px;
    height: 25px;
    border-radius:5px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px; 
}

.player-one-score {
    background-color: #b04040;
    border:1px solid #a1a1a1;
    padding:5px 5px; 
    width: 40px;
    height: 25px;
    border-radius:5px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px; 
}

.player-two-score {
    background-color: #0080b0;
    border:1px solid #a1a1a1;
    padding:5px 5px; 
    width: 40px;
    height: 25px;
    border-radius:5px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px; 
}

.above-game {    
    text-align: center;
    width: 100%;
}

.game-intro {
    text-align: center;
    color: #dddddd;
}

.restart-button {
    border:1px solid #a1a1a1;
    padding:5px 5px; 
    background:#dddddd;
    width: 75px;
    height: 25px;
    border-radius:5px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px; 
}

.timer {
    border:/1px solid #a1a1a1;
    padding:5px 5px; 
    background:#dddddd;
    width: 75px;
    height: 25px;
    border-radius:5px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px; 
}

.game-master{
    text-align: center;
}

.vertical-games{
    
}

.game-container{
    
}

.game-message{
    
}
    